.expense-header , .flex{
    display:flex ;
} 
.expense_details{
    background-color: rgb(132, 239, 141);
    height: 60px;
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px ;
    overflow: hidden;
    font-weight: 600;
    font-size:x-large;
}

.expense_Date{
    color: rgb(205, 38, 38);
    margin-right: 60px;
  
   
}
.expense_title{
    color: rgb(79, 12, 211);
    margin-right: 60px;
}
.Location_Of_Expenditure{
    color: rgb(225, 12, 172);
    margin-right: 60px;
}

.expense_ammount{
    color: rgb(20, 152, 16);
    margin-right: 60px;
    background-color: rgb(224, 243, 243);
    border-radius: 10px;
    text-align: center;
    height: 50px;
    
}